@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        <partial name="registration"/>
    </div>
    <div class="col">
        <partial name="Login" />
    </div>
</div>