@model Login

<form asp-action="login" asp-controller="Home" method="post">
    <div class="form-group">
        <span asp-validation-for="lemail"></span>
        <label asp-for="lemail">
        </label>
            <input asp-for="lemail">
    </div>
    <div class="form-group">
        <span asp-validation-for="lpassword"></span>
        <label asp-for="lpassword">
        </label>
    <input asp-for="lpassword">
    </div>
    <button>Submit</button>
</form>