<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Hey</p>
    @{
        string[] a = new string[]{
            "asd","asdasf","ertert"
        };
    }
    <ul>
        @foreach(string b in a){
            <li>
                @b
            </li>
        }
    </ul>
    @ViewBag.name

    <a href="/click">click</a>
    <a href="/fromhtml">click again</a>
</body>
</html>